.InnerPageSwiper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  overflow: hidden;
  // swiper
  .innerPageSwiperSelf {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    &.hide {
      opacity: 0;
      pointer-events: none;
    }
    // opacity: 0;
    .swiper-container {
      height: 100%;
      .swiperWrapper {
        height: 100%;
        white-space: nowrap;
        .swiper-slide {
          height: 100%;
          //   display: inline-block;
          display: block;
          position: relative;
          //   img {
          //     width: 100%;
          //     height: 100%;
          //   }
          .bg {
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: -1;
            .bgImg {
              height: 100%;
              width: 100%;
            }
            &.left {
              .bgImg {
                transform: rotateY(180deg);
              }
            }
          }
          // 本頁內容
          .thisPageInnerContainer {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 80%;
            width: 90%;
            .innerContent {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                height: 100%;
              }
            }
          }
          // 第六頁
          &.sixthPage {
            .rightBottom {
              position: absolute;
              bottom: 7%;
              right: 0%;
              height: 2rem;
              img {
                height: 100%;
              }
            }
          }
          // 封底
          &.lastPage {
            height: 100%;
            img {
              height: 100%;
              width: auto;
            }
            .lastPageInnerContainer {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              .titlePositioner {
                position: absolute;
                top: 15%;
                left: 50%;
                transform: translate(-50%, 0);
                width: 100%;
                height: 10%;
                display: flex;
                align-items: center;
                justify-content: center;
              }
              .submitSuccessful {
                position: absolute;
                width: 100%;
                height: 15%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                  height: 100%;
                }
              }
              .buttonPositioner {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 30%;
                display: flex;
                align-items: center;
                justify-content: center;
                .buttonContainer {
                  height: 100%;
                  width: 100%;
                  animation: joinButtonAnimation 1s infinite alternate;
                  @keyframes joinButtonAnimation {
                    0% {
                      transform: scale(1);
                    }
                    100% {
                      transform: scale(1.2);
                    }
                  }
                  .button {
                    height: 70%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                      width: 99px;
                      height: 113px;
                    }
                  }
                  .text {
                    width: 100%;
                    height: 10%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  }
                }
              }
              .logoPositioner {
                position: absolute;
                top: 75%;
                left: 50%;
                transform: translate(-50%, 0);
                width: 100%;
                height: 10%;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }
}
